--- a/drivers/block/Kconfig
+++ b/drivers/block/Kconfig
@@ -558,4 +558,6 @@ config BLK_DEV_RSXX
 	  To compile this driver as a module, choose M here: the
 	  module will be called rsxx.
 
+source "drivers/block/walb/Kconfig"
+
 endif # BLK_DEV
