Source: walb
Section: kernel
Priority: optional
Maintainer: Takashi HOSHINO <starpos@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: dkms
Standards-Version: 3.9.5
Homepage: https://github.com/starpos/walb/
#Vcs-Git: git://git.debian.org/collab-maint/walb-dkms.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/walb-dkms.git;a=summary

Package: walb-dkms
Architecture: all
Depends: ${misc:Depends}
Conflicts: walb-modules
Description: WalB kernel driver source for dkms.
 This contains WalB kernel driver source for dkms.

Package: walb-source
Architecture: all
Depends: ${misc:Depends}, module-assistant, bzip2
Description: WalB kernel driver source code for module assistant.
 This contains WalB kernel driver module source code for
 module assistant.
